# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
ENV/
env/
*.egg-info/

# Node
node_modules/
dist/
*.log

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Misc
*.zip
*.tar.gz
*.bak
*.old
wheelhouse/
wheelhouse/
